
<%= form_tag test_exports_path do %>
  <%= radio_button_tag 'export_type', 'case', true %> Cases
  <br/>
  <%= radio_button_tag 'export_type', 'requirement' %> Requirements
  <br/>
  <%= radio_button_tag 'export_type', 'test_set' %> Test Sets
  <br/>
  <%= radio_button_tag 'export_type', 'execution' %> Executions
  <br/>
  <%= radio_button_tag 'export_type', 'test_case' %> Test Cases
  <%= text_field_tag 'test_case_title' %> Test Case Title
  
  <br/>
  <br/>
  Recursion depth
  <%= select_tag 'recursion', 
      "<option>0</option><option>1</option><option>2</option>".html_safe %>
  <br/>
  <%= check_box_tag 'export_without_ids' %>
  Export without IDs
  <br/>
  <br/>
  <%= submit_tag "Export" %>
  <br/>
  <br/>
<% end %>

<a href = "TarantulaFormatter.xlsm"><button>Download TarantulaFormatter.xlsm</button></a>
